/* product.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
}

header {
    background-color: #606260;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

nav {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 0.5em 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px;
}

.left-image {
    max-width: 30%;
    height: auto; 
    margin: 0;
    padding: 0; 
}

.content {
    max-width: 700px;
}

.label-group {
    margin-bottom: 18px;
}

label {
    display: block;
    margin-bottom: 8px;
}

select,
input {
    width: 80%;
    padding: 15px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: center; 
    text-align: center;
}

.logo {
    width: 60px; 
    height: auto; 
    margin-right: 10px; 
}